.swiper-button-next,
.swiper-button-prev {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  height: 50px;
  width: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
